/* En este archivo se declaran variables para sobrescribir valores de Bootstrap y/o AdminLTE predeterminados */

// Nuevo color ople-pink
$ople-pink: #EA0D94;

/* Se declara ople-pink como el nuevo color primario de Bootstrap:
   .primary, .btn-primary, .bg-primary, etc. serán color rosa ople por defecto, incluyendo :hover y :active.
*/
$primary: $ople-pink;

$enable-responsive-font-sizes: true;
