.textoPrincipal{color: #EA0D94; font-weight: initial;font-size: 1.1em;}
.salir{color: #EA0D94 !important;font-weight: initial; padding: .5rem 1rem;display: block}
.imgUser{border-radius: 5px;}
.textoSecundario{color: #333;font-size: 1.1em;}
.navAdminLite{position: fixed;z-index: 949;top: 0;right: 0;left: 0;background: #fff;}
.footerAdminLite{position: fixed;z-index: 949;bottom: 0;right: 0;left: 0;background: #fff;}
.wrapperPading{padding: 57px 0;}
.textSideOption{font-size: .95em;}
.btn-primary:hover{background:#EA0D94 !important; }
.info{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}

.sidebar-dark-primary .nav-treeview>.nav-item>.nav-link.active, .sidebar-dark-primary .nav-treeview>.nav-item>.nav-link.active:hover{background-color: rgba(255, 199, 248, 0.9);}


.badge-warning{background: #6d5622; color: #fff;}
.hidden{display: none !important;}
.inputMes{cursor: pointer;}
.secForm{padding: 2% 4% 0 4%;}
.card-header:first-child{background: #fce4ec; color: #000;}
.contInput{height: auto;width: 100%;margin-bottom: 2%;}



#loader{position: fixed;width: 100vw; height: 100vh;background: #f9f9f9; opacity: .8;top: 0;left: 0;z-index: 9999999999999;}
  .cubes {
   width: 40px;
   height: 40px;
   margin: 100px auto;z-index: 9999;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-top: -40px; /* Half the height */
   margin-left: -40px; /* Half the width */
  }
  
  .cubes .sk-cube {
   width: 33%;
   height: 33%;
   background-color: #E71096;
   float: left;
   animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  }
  
  .cubes .sk-cube1 {
   animation-delay: 0.2s;
  }
  
  .cubes .sk-cube2 {
   animation-delay: 0.3s;
  }
  
  .cubes .sk-cube3 {
   animation-delay: 0.4s;
  }
  
  .cubes .sk-cube4 {
   animation-delay: 0.1s;
  }
  
  .cubes .sk-cube5 {
   animation-delay: 0.2s;
  }
  
  .cubes .sk-cube6 {
   animation-delay: 0.3s;
  }
  
  .cubes .sk-cube7 {
   animation-delay: 0s;
  }
  
  .cubes .sk-cube8 {
   animation-delay: 0.1s;
  }
  
  .cubes .sk-cube9 {
   animation-delay: 0.2s;
  }
  
  @keyframes sk-cubeGridScaleDelay {
   0%,
   70%,
   100% {
    transform: scale3D(1, 1, 1);
   }
   35% {
    transform: scale3D(0, 0, 1);
   }
  }
/*.logologin
{
	height: 150px;
	width: 200px;
}

.tituloheader
{
	font-size: 17px;
	margin-left: 16px;
	font-weight: 500;	
}

.ribbon-perfil
{
	padding: 8px;
	height: 35px;	
	text-align: left !important;	
}

.ribbon-area
{
	padding: 2px !important;
	padding-left: 10px !important;
	height: 35px;	
}

.titareames
{
	font-size: 20px;	
	font-weight: bold;		
	text-align: center;
}

.ribbon-primary
{
	background-color: #EA0D94 !important;
	color: #fff !important;
	text-align: center;
}

.ribbon-blanco
{
	background: #fff;
}

.ribbon-rosa
{
	background: #FCE6F4;
}

.ribbon
{
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	width: 100%;	
}

.numpasos
{
	font-size: 20px;
}

.fondopaso
{
	background: #FCE6F4 !important;
	font-weight: bold !important;
	padding: 5px;
}

.fraserealizado
{
	font-weight: bold;
	font-size: 16px;
}

.contenido
{
	font-size: 15px;	
}

.contcentrado
{
	text-align: center;
}

.tittabla
{
	text-align: center !important;
	background: #FCE6F4 !important;
	font-weight: bold !important;
	color: #000 !important;
	font-size: 11px;
}

.cantidadrealizada
{
	font-size: 20px;
	font-weight: bold !important;
}

.contenidotabla
{
	text-align: center;		
	color: #000 !important;
}

.textuppercase
{
	text-transform: uppercase !important;
}

.letralogin
{
	color: #000 !important;
	background-color: #342234 !important;
}


.actcambio
{
	background-color: #ffff99 !important;
}

.actnueva
{
	background-color: #99cc99 !important;
}

.actborradaafectatrimestral
{
	background-color: #b9bbbc !important;
}

.justificado
{
	text-align: justify !important;
}

.centrado
{
	text-align: center !important;
}
*/
