.o-titulo-alertas {
    text-transform: uppercase;
    background: #eceff1;
    color: #EA0D94;
}

.o-alerta-texto {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    cursor: inherit;
    font-size: 12px;
}

.o-nueva-alerta {
    font-weight: bolder;
}

.o-alerta-final {
    background: #f3f3f4;
    border-right: solid 1px #f3f3f4;
}

.o-alerta-obsR {
    background: #f3f3f4;
    border-right: solid 1px #f3f3f4;
}

.o-alerta-obs {
    background: #f3f3f4;
    border-right: solid 1px #f3f3f4;
}

.o-alerta-edit {
    background: #f3f3f4;
    border-right: solid 1px #f3f3f4;
}

.o-alerta-logout {
    background: #f3f3f4;
    border-right: solid 1px #f3f3f4;
}

.navbar-light .navbar-nav .nav-link {
    color: #555;
}

.o-tiempo-fuera:after {
    content: "\00a0 \f071";
    font-family: FontAwesome;
    color: #EA0D94;
}

.o-alerta-vista {
    display: inline-block;
    float: left;
}

.o-alerta-vista-fecha {
    display: inline-block;
    float: right;
    background: #EA0D94;
    color: #fff;
    border-radius: 5px;
    padding: 1% 2%;
}

.o-alerta-footer {
    background: #eceff1;
    color: #000;
}

.o-nav-adminLite {
    position: fixed;
    z-index: 949;
    top: 0;
    right: 0;
    left: 0;
    background: #f3f3f4;
    box-shadow: 0px 4px 9px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 4px 9px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 9px -3px rgba(0, 0, 0, 0.75);
}

.o-titulo-sistema {
    font-size: 1em;
    display: inline-block;
    font-weight: bold;
}

.o-titulo-unidad {
    color: #555;
    font-size: .9em;
    display: inline-block;
}

.badge-oplever {
    background: #EA0D94;
    color: #fff;
}

.o-salir {
    color: #EA0D94 !important;
    font-weight: initial;
    padding: .5rem 1rem;
    display: block;
}

.navbar-deepgray {
    background: linear-gradient(rgba(52,58,64) 10%, rgba(52,58,64) 50%, #eeeeef 20%) !important;
}
