.card-oplever:not(.card-outline)>.card-header {
    background-color: #EA0D94;
}

.card-oplever:not(.card-outline)>.card-header,
.card-oplever:not(.card-outline)>.card-header a {
    color: #ffffff;
}

.o-fondo-primario {
    background: #EA0D94 !important;
    color: #fff !important;
}

.o-color-primario {
    color: #EA0D94 !important;
}

.o-fondo-1 {
    background: #EA0D94 !important;
    color: #fff !important;
    border-color: #EA0D94 !important;
}

.o-color-1 {
    color: #EA0D94 !important;
}

.o-fondo-2 {
    background: #efefef !important;
    color: #000 !important;
    border-color: #efefef !important;
}

.o-color-2 {
    color: #efefef !important;
}

.o-fondo-3 {
    background: #f8b6de !important;
    color: #000 !important;
    border-color: #f8b6de !important;
}

.o-color-3 {
    color: #f8b6de !important;
}

.o-fondo-4 {
    background: #fce6f4 !important;
    color: #000 !important;
    border-color: #fce6f4 !important;
}

.o-color-4 {
    color: #fce6f4 !important;
}

.o-fondo-5 {
    background: #e0e0e0 !important;
    color: #000 !important;
    border-color: #e0e0e0 !important;
}

.o-color-5 {
    color: #e0e0e0 !important;
}

.o-fondo-6 {
    background: #7d8c00 !important;
    color: #fff !important;
    border-color: #7d8c00 !important;
}

.o-color-6 {
    color: #7d8c00 !important;
}

.o-form-label {
    color: #444 !important;
}

.borde-rojo{
    border-left: 4px solid #FF2300 !important;
    padding-bottom: 3% !important;
}

.borde-rojo h5{
    color:#FF2300 !important;
    font-weight: bold !important;
}

.borde-azul{
    border-left: 4px solid #0068FF !important;
    padding-bottom: 3% !important;
}

.borde-azul h5{
    color:#0068FF  !important;
    font-weight: bold !important;
}

.borde-amarillo{
    border-left: 4px solid #FFB900  !important;
    padding-bottom: 3% !important;
}

.borde-amarillo h5{
    color: #FFB900   !important;
    font-weight: bold !important;
}

.borde-negro{
    border-left: 4px solid #000000   !important;
    padding-bottom: 3% !important;
}

.borde-negro h5{
    color: #616161    !important;
    font-weight: bold !important;
}

.borde-verde{
    border-top: 4px solid #009C13   !important;
    border-bottom: 4px solid #009C13   !important;
    padding-bottom: 3% !important;
}

.borde-verde h5{
    color: #009C13     !important;
    font-weight: bold !important;
}

.borde-naranja{
    border-top: 4px solid #FF9300    !important;
    border-bottom: 4px solid #FF9300    !important;
    padding-bottom: 3% !important;
}

.borde-naranja h5{
    color: #FF9300      !important;
    font-weight: bold !important;
}

.card-icon-right {
    width: 4% !important;
    position: absolute !important;
    right: 1em !important;
    top: 0 !important;
    height: 100% !important;
  }
  
  .card-icon-right i {
    text-align: center;
    margin-top: 3em;
    margin-right: 3em;
  }




