.logologin
{
	height: 150px;
	width: 200px;
}

.tituloheader
{
	font-size: 17px;
	margin-left: 16px;
	font-weight: 500;	
}

.ribbon-primary
{
	background-color: #EA0D94 !important;
	color: #fff !important;
	text-align: center;
}

.ribbon-blanco
{
	background: #fff;
}

.ribbon-rosa
{
	background: #FCE6F4;
}

.ribbon
{
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	width: 100%;	
}


.numpasos
{
	font-size: 20px;
}

.fondopaso
{
	background: #FCE6F4 !important;
	font-weight: bold !important;
	padding: 5px;
}

.fraserealizado
{
	font-weight: bold;
	font-size: 16px;
}

.titareames
{
	font-size: 20px;	
	font-weight: 	bold;		
	text-align: center;
}

.contenido
{
	font-size: 15px;	
}

.contcentrado
{
	text-align: center;
}

.tittabla
{
	text-align: center;
	background: #FCE6F4;
	font-weight: bold !important;
	color: #000 !important;
}

.cantidadrealizada
{
	font-size: 20px;
	font-weight: bold !important;
}

.contenidotabla
{
	text-align: center;		
	color: #000 !important;
}

.textuppercase
{
	text-transform: uppercase !important;
}

.letralogin
{
	color: #000 !important;
	background-color: #342234 !important;
}