/********************************HEADER.BLADE*******************************************************************************/
.o-titulo-alertas{text-transform: uppercase;background: #eceff1; color: #EA0D94;}
.o-alerta-texto{white-space: nowrap; overflow: hidden;text-overflow: ellipsis;text-transform: uppercase;border-bottom: 1px solid #fff;cursor: inherit;font-size: 12px;}
.o-nueva-alerta{font-weight:bolder;}
.o-alerta-final{background: #f3f3f4;border-right:solid 1px #f3f3f4; }
.o-alerta-obsR{background: #f3f3f4;border-right:solid 1px #f3f3f4; }
.o-alerta-obs{background: #f3f3f4;border-right:solid 1px #f3f3f4; }
.o-alerta-edit{background: #f3f3f4;border-right:solid 1px #f3f3f4; }
.o-alerta-logout{background:#f3f3f4;border-right:solid 1px #f3f3f4; }
.navbar-light .navbar-nav .nav-link{color: #555;}
.o-tiempo-fuera:after {content: "\00a0 \f071";font-family: FontAwesome;color: #EA0D94;}
.o-alerta-vista{display: inline-block;float: left;}
.o-alerta-vista-fecha{display: inline-block;float: right;background: #EA0D94; color: #fff; border-radius: 5px; padding: 1% 2%;}
.o-alerta-footer{background: #eceff1;color: #000;}
.o-nav-adminLite{position: fixed;z-index: 949;top: 0;right: 0;left: 0;background: #f3f3f4;box-shadow: 0px 4px 9px -3px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 4px 9px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 4px 9px -3px rgba(0,0,0,0.75);}
.o-titulo-sistema{color: #555;font-size: 1em;display: inline-block;font-weight: bold;}
.o-titulo-unidad{color: #555;font-size: .9em;display: inline-block;}
.badge-oplever{background: #EA0D94; color: #fff;}
.o-salir{color: #EA0D94 !important;font-weight: initial;padding: .5rem 1rem;display: block;}
/***********************************HEADER.BLADE******************************************************************************/


/***********************************ASIDE.BLADE*******************************************************************************/
.o-titulo-sistema-aside{font-size: .9rem;letter-spacing: 2px;line-height: 1 !important;text-align: center;padding: .5rem 0 0 0;}
.o-pading-logo{background: #ccc;padding: .1rem;}
.o-menu-principal{background-color: #EA0D94 !important;}
.o-menu-secundario{background-color: #7d8c00 !important;}
.o-menu-tres{background-color: #297b86 !important;}
.o-menu-cuatro{background-color: #321063 !important;}
.o-menu-cinco{background-color: #690e4f !important;}
.o-menu-seis{background-color: #a04e00 !important;}
.o-color-menu{color: #fff;}
.o-logo-center{text-align: center;}
.o-color-sub-menu{color: #f1ff2b !important;}
.o-img-fondo-gray{background: url('/images/backu.png');background-size:100%;filter: grayscale(100%);}
.o-img-fondo{ background: url('/images/backu.png');background-size:100%; background-repeat: repeat;}
.o-nombre-usuario{font-size: 2vh;color: #fff !important;text-shadow: 2px 2px 4px #000000; white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.o-icon-usuario{font-size: 5vh;color: #fff !important;}
.sidebar-dark-primary .nav-treeview>.nav-item>.nav-link.active, .sidebar-dark-primary .nav-treeview>.nav-item>.nav-link.active:hover{background-color: #505050;color: #fff;}
/***********************************ASIDE.BLADE*******************************************************************************/


/***********************************AREA-TRABAJO.BLADE************************************************************************/
.o-area-trabajo{background: #fff;min-height: 100vh; height: 100vh; height: auto !important;}
.o-area-descripcion{border: solid 2px #ffa500;box-shadow: none;}
.o-area-descripcion-icon{color:#ffa500;}
.o-texto-color-ople{color: #EA0D94; font-weight: initial;font-size: 1.1em;}
/***********************************AREA-TRABAJO.BLADE************************************************************************/


/***********************************FOOTER.BLADE******************************************************************************/
.o-footer-adminLite{position: fixed;z-index: 949;bottom: 0;right: 0;left: 0;background: #fff;}
/***********************************FOOTER.BLADE******************************************************************************/


/***********************************GENERAL.BLADE*****************************************************************************/
.o-wrapper-pading{padding: 57px 0;}
.o-btn-ople:hover{background:#EA0D94 !important; }
.form-control:focus {border-color: #EA0D94;box-shadow: none;}
/***********************************GENERAL.BLADE*****************************************************************************/


/**********************************LOADER.BLADE*******************************************************************************/
.o-hidden-loader{display: none !important;}
#loader{position: fixed;width: 100vw; height: 100vh;background: #f9f9f9; opacity: .8;top: 0;left: 0;z-index: 9999999999999;}
.cubes {width: 40px;height: 40px;margin: 100px auto;z-index: 9999;position: absolute;top: 50%;left: 50%;margin-top: -40px;margin-left: -40px;}
.cubes .sk-cube {width: 33%;height: 33%;background-color: #E71096;float: left;animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;}
.cubes .sk-cube1 {animation-delay: 0.2s;}
.cubes .sk-cube2 {animation-delay: 0.3s;}
.cubes .sk-cube3 {animation-delay: 0.4s;}
.cubes .sk-cube4 {animation-delay: 0.1s;}
.cubes .sk-cube5 {animation-delay: 0.2s;}
.cubes .sk-cube6 {animation-delay: 0.3s;}
.cubes .sk-cube7 {animation-delay: 0s;}
.cubes .sk-cube8 {animation-delay: 0.1s;}
.cubes .sk-cube9 {animation-delay: 0.2s;}
  
  @keyframes sk-cubeGridScaleDelay {
   0%,
   70%,
   100% {
    transform: scale3D(1, 1, 1);
   }
   35% {
    transform: scale3D(0, 0, 1);
   }
  }
/**********************************LOADER.BLADE******************************************************************************/

/**********************************VALIDACIONES.OPLE*************************************************************************/

.error{color: #EA0C97;width: 95%;}
.string{width: 5%;text-align: center;background: #f7f7f7;border-radius: 0 0 5px 5px;border: solid 1px #ccc;}

/**********************************VALIDACIONES.OPLE*************************************************************************/

/**********************************COLORES.OPLE******************************************************************************/
.card-oplever:not(.card-outline) > .card-header {
  background-color: #EA0D94;
}

.card-oplever:not(.card-outline) > .card-header,
.card-oplever:not(.card-outline) > .card-header a {
  color: #ffffff;
}
.o-fondo-primario{background: #EA0D94 !important; color: #fff !important;}
.o-color-primario{color: #EA0D94 !important;}

.o-fondo-1{background: #EA0D94 !important; color: #fff !important;border-color: #EA0D94 !important;}
.o-color-1{color: #EA0D94 !important;}

.o-fondo-2{background: #efefef !important; color: #000 !important;border-color: #efefef !important;}
.o-color-2{color: #efefef !important;}

.o-fondo-3{background: #f8b6de !important; color: #000 !important;border-color: #f8b6de !important;}
.o-color-3{color: #f8b6de !important;}

.o-fondo-4{background: #fce6f4 !important; color: #000 !important;border-color: #fce6f4 !important;}
.o-color-4{color: #fce6f4 !important;}

.o-fondo-5{background: #e0e0e0 !important; color: #000 !important;border-color: #e0e0e0 !important;}
.o-color-5{color: #e0e0e0 !important;}

.o-fondo-6{background: #7d8c00  !important; color: #fff !important;border-color: #7d8c00 !important;}
.o-color-6{color: #7d8c00  !important;}

.o-form-label{color: #444 !important;}

/**********************************COLORES.OPLE******************************************************************************/

/**********************************CUADROS.OPLE******************************************************************************/
.o-icon-cuadros-1{border-radius: 50%;padding: 1% 2%;font-size: 1.5em; border-radius: 50%;display: inline-block;}
.o-icon-cuadros-2{border-radius: 50%;padding: 1% 15%;font-size: 2.5em; border-radius: 50%;display: inline-block;}












































































































































































































































































































































































/*********************PDF OBJECT*****************/
.div-pdf{max-width: 100%;}
.container-pdf{display: block;width:100%; height:810px;}
.highcharts-figure, .highcharts-data-table table {
    min-width: 310px; 
    max-width: 800px;
    margin: 1em auto;
}


#container {
    height: 400px;
}

#containertwo {
    height: 400px;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #EBEBEB;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
  font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.highcharts-figure .chart-container {
  width: 300px;
  height: 200px;
  float: left;
}